%head
  %title
    Test Boutwik Final
  = stylesheet_link_tag "application", :media => "all"
  = csrf_meta_tag

%body
  .navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
    .container
      .navbar-header
        = link_to 'Test for Boutwik', '/', :class => 'navbar-brand'
      .navbar-collapse.collapse
        %ul.nav.navbar-nav
          %li
            = link_to 'Products', products_path
          %li
            = link_to 'Articles', articles_path
  #container
    = yield

  = javascript_include_tag "application"
